@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.slideshow-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 100%;
  min-height: 16em;
  width: inherit;
  /* max-width: 100%; */
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

.slide {
  z-index: 0;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.slideshow-button {
  font-size: 3em;
  font-family: "Poppins", "Monospace", "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: rgba(220, 220, 220, 0.8); */
  color: white;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 15%;
  user-select: none;
  transition: all 0.15s ease;
}

.slideshow-button-right {
  margin-right: -0.15em;
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}



.slideshow-button-left {
  margin-left: -0.15em;
  left: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}



@media only screen and (min-size: 768px) {
  .slideshow-container {}

  .slideshow-button-right:hover,
  .slideshow-button-right:active,
  .slideshow-button-right:focus {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  }

  .slideshow-button-left:hover,
  .slideshow-button-left:active,
  .slideshow-button-left:focus {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  }
}