@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    height: auto;
    /* cursor: url(../images/omega-removebg-bg-small.png),auto; */
    background: linear-gradient(#ff9a8b, #ff6a88, #ff99ac);
    /* background: linear-gradient(#cae2ff, #a750ff, #4d0088); */
    /* background: linear-gradient(#4d0088, #a750ff, #cae2ff); */

    overflow-x: hidden;
}

.bText {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 25px;
}

.vl {
    width: 100%;
    border-top: solid black 3px;
}

.card {
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 10px black;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .cardContent {
        flex-direction: row;
    }

    .cardImage {
        order: 1;
        width: 33%;
    }
}

@media only screen and (max-width: 700px) {
    .card {
        max-width: auto;
    }
}

.content {
    text-align: center;
    word-wrap: break-word;

    font-size: large;

    margin-top: 25px;

    border-radius: 20px;
    padding: 10px;
}

.cardImage {
    display: flex;
    order: 0;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.icon {
    height: 30%;
    display: flex;
    justify-content: center;
}

.icon>img {
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
}

.tag {
    text-align: center;
    font-weight: 900;
    font-size: larger;
    color: white;

    background-color: black;

    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

#plus,
.eventName {
    margin: 30px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    flex-wrap: wrap;
}

#plus:hover {
    cursor: pointer;
}

#upArrow {
    cursor: pointer;
}

.cardRules,
.details,
.vl,
.bText,
.content,
#upArrow {
    transition: all 0.5s ease;
    opacity: 0;
    display: none;
}

/*for plus animation*/
.transform {
    transition: all 0.5s;
}

.transform-active {
    transform: rotate(180deg);
}

.transform-active-another {
    transform: rotate(360deg);
}



.banner {
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
}

.bannerHeadText>h1 {
    text-align: center;
    font-size: 3em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: aquamarine;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bannerVideo {
    /* position: relative; */
    width: 100%;
    border-radius: 10px;
}

/* .cardHolder */

.eventType {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
}

.cardHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/*controls Buttons*/
.controlButtons {
    box-sizing: border-box;

    color: black;

    display: inline-flex;
    justify-content: space-evenly;

    width: 100%;
    height: 20%;

    padding: 20px;
}

.controlButtons>i {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

/*Overlapping title block*/
.titleBlock {
    background: none;
    width: 100%;
}

.titleBlock>h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    color: white;
    z-index: 1;
}

.sympo,
.tech,
.ntech {
    text-align: center;
    font-size: 5rem;
    font-family: monospace;
    font-weight: 700;
}

/*mobile Large*/
@media screen and (max-width: 500px) {
    .titleBlock>h1 {
        top: 50%;
    }

    .sympo,
    .tech,
    .ntech {
        font-size: 1.7rem;
    }

    .banner {
        padding: 10px;
    }
}

@media screen and (max-width: 375px) {
    .titleBlock>h1 {
        top: 45%;
    }

    .sympo,
    .tech,
    .ntech {
        font-size: 1.5rem;
    }

    .banner {
        padding: 10px;
    }
}

#ntechCardHolder {
    display: none;
}

#techCardHolder {
    display: none;
}

#workshopCardHolder {
    display: none;
}

/*Block Quote*/
.blockquote>p {
    font-size: 3.5rem;
}

#link0,
#link1,
#link2,
#link3,
#link4 {
    font-size: larger;
    color: rgba(255, 255, 255, .75);
}

#link0:hover,
#link1:hover,
#link2:hover,
#link3:hover,
#link4:hover {
    font-size: larger;
    color: rgba(255, 255, 255, .9);
}


@media screen and (max-width: 500px) {
    .navLogo {
        height: 70px;
        width: 70px;
    }

    a {
        margin: 20px;
    }
}

.cardMain {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    margin: 30px;

    box-shadow: 5px 10px black;

    /*only takes 25% of the page size*/
    max-width: auto;

    border-radius: 25px;
    border: 5px solid black;
}


.mainIcon {
    height: 100%;
    display: flex;
    justify-content: center;
}

.mainIcon>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.navLogo {
    height: 80px;
    width: 80px;
    margin: 0 1em;
}

.navbar {
    justify-content: space-between;
}

.vl {
    visibility: visible;
    display: block;
}

#regButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 3rem;
    background-color: black;
    opacity: 0.9;
    font-family: "Consolas", "Courier New", Courier, monospace;
    font-size: 1.5rem;
    border-radius: 0.25em;
    height: 2.9em;
    width: 6em;
}

#regButton a {
    text-decoration: none;
    color: white;
}

.navbar-brand>H1 {
    display: none;
}

@media only screen and (min-width: 1050px) {
    ul.navbar-nav {
        gap: 1em;
    }
}

/* DESKTOP */
@media only screen and (min-width: 768px) {

    a {
        margin: 50px;
    }

    .cardMain {
        flex-wrap: wrap;
        /* background-color: tomato; */
    }

    #link0,
    #link1,
    #link2,
    #link3,
    #link4 {
        margin: 0 !important;
    }

    ul.navbar-nav {
        gap: 2em;
    }

    .bannerVideo {
        height: 100%;
        max-width: 97%;
        width: initial;
        border-radius: 2em;
    }

    .banner {
        display: flex;
        justify-content: center;
        padding: 6em 3em 3em;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
    }

    #regButton {
        margin: 0 3em 0 0;
        font-size: 1.2em;
    }

    .upArrow {
        order: 10;
    }

    .vl {
        visibility: hidden;
        display: none;
        width: 0;
    }

    .bText {
        width: 33%;
        order: 0;
    }

    .cardRules {
        align-self: flex-start;
        /* height: 100%; */
        width: 33%;
        order: 2;
        font-size: 16px;
    }

    .cardRules scroller {
        display: inline-block;
        height: 400px;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scrollbar-width: thin;
    }

    .cardRules h3 {
        text-align: center;
        margin-top: 2em;
        height: 10%;
    }

    .cardImage,
    .card {
        order: 1;
    }

    .card {
        width: 25%;
    }

    .cardImage {
        width: 100%;
    }

    .cardRules section {
        scroll-snap-align: start;
        height: 100%;
        overflow-y: hidden;
    }

    .controlButtons {
        display: none;
    }

    /* using id for higher spcificity, to override default BS CSS */
    #nav {
        position: fixed;
        width: 100%;
        height: 6em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        background: linear-gradient(#ff9a8b, #ff968b);
        box-shadow: rgba(255, 255, 255, .75);
        z-index: 10;
    }

    /* this rule doesn't apply to a due to override */
    .navbar * {
        margin: 0;
    }

    .navLogo {
        /* align-self: flex-start; */
        padding: .2em;
        height: 70px;
        width: 70px;
        margin: 0 1em;
    }

    #regLogo {
        justify-self: end;
    }

    .navbar-brand {
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    .navbar-brand>H1 {
        display: inline;
        font-weight: 700;
        line-height: 200%;
        font-family: "Audiowide", "Consolas", 'Courier New', Courier, monospace;
    }
}