*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    justify-content: center;
    display: flex;
}

.block{
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px black;
}

/* .card{

} */

.lion{
    width: 100%;
    object-fit: fill;
}



