@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

:root {
  --kratos-red: rgb(220, 53, 69);
  --kratos-red-darker: rgb(161, 39, 51);
  --kratos-grey-dark: rgba(0, 0, 0, 1);
  --kratos-grey-light: rgba(17, 16, 16, 1);
  --kratos-white-dull: rgba(255, 255, 255, .9);
  --kratos-white: white;
  --kratos-card-trans-dur: .5s;
}
