* {
  padding: 0px;
  margin: 0px;
  font-family: monospace;
}
html {
  overflow-x: hidden;
}
body {
  width: 100%;
  height: auto;
  /* cursor: url(../images/omega-removebg-bg-small.png),auto; */
  background: linear-gradient(#ff9a8b, #ff6a88, #ff99ac);
  overflow-x: hidden;
}

.bText {
  text-align: center;
  margin: 25px;
}

.vl {
  width: 100%;
  border-top: solid black 3px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 10px;

  margin: 20px;

  box-shadow: 5px 10px black;

  /*only takes 25% of the page size*/
  max-width: auto;

  border-radius: 25px;
  border: 5px solid black;
}

@media only screen and (max-width: 700px) {
  .card {
    max-width: auto;
    /* background-color: tomato; */
  }
}

.content {
  text-align: center;
  word-wrap: break-word;

  font-size: large;

  margin-top: 25px;

  border-radius: 20px;
  padding: 10px;
}

.cardImage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.icon {
  height: 30%;
  display: flex;
  justify-content: center;
}

.icon > img {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}

.tag {
  text-align: center;
  font-weight: 900;
  font-size: larger;
  color: white;

  background-color: black;

  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

#plus,
.eventName {
  margin: 30px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;

  flex-wrap: wrap;
}

#plus:hover {
  cursor: pointer;
}

#upArrow {
  cursor: pointer;
}

.cardRules,
.details,
.vl,
.bText,
.content,
#upArrow {
  transition: all 0.5s ease;
  opacity: 0;
  display: none;
}

/*for plus animation*/
.transform {
  transition: all 0.5s;
}

.transform-active {
  transform: rotate(180deg);
}

.transform-active-another {
  transform: rotate(360deg);
}
